@media screen and (max-width : 970px){
    .navigation {
        flex-direction: column;
        margin-bottom: 20px;
    }

    .nav-left {
        flex-direction: column;
        text-align: center;
        margin-bottom: 15px;
    }

    .form-input {
        padding: 7px 3px;
        padding-top: 5px;
        font-size: 15px;
        border: 2px solid grey;
        border-radius: 15px;
        margin: 0 10px;
        font-family: sans-serif;
    }

    .content-left {
        width: 90%;
    }

    .content-right {
        display: none;
    }

    .home-article {
        flex-direction: column;
    }

    .home-article-img {
        text-align: center;
    }

    .home-article-img img {
        height: 200px;
        width: 200px;
        border-radius: 100%;
    }

    .home-article-content h3 {
        font-size: 17px;
    }

    .btn {
        padding: 0px 12px;
        padding-top: 5px;
        border: 2px solid darkgrey;
        border-radius: 15px;
        font-family: var(--font1);
        font-size: 15px;
        cursor: pointer;
        transition: all 0.5s ease-in-out;
    }

    .contact {
        height: auto;
    }

    .contact h2 {
        font-size: 20px;
    }

    .form-box {
        font-size: 25px;
    }

    .form-box input, textarea {
        width: 64vw;
    }

    .post-img {
        height: auto;
    }

    .social {
        display: none;
    }

    .blog-content h1 {
        font-size: 20px;
    }

    .blog-content p {
        font-size: 15px;
    }

    .votes {
        font-size: 13px;
    }

    .home-articles h2 {
        font-size: 22px;
    }
}